In [28]:
import pandas as pd

df = pd.read_csv("kike_stores_dataset.csv")
df.head()

,ProductID,ProductName,Category,SubCategory,Brand,Price,Discount,Stock,Rating,ReviewCount,...,OrderID,OrderDate,OrderStatus,PaymentMethod,ShipmentDate,DeliveryDate,ReturnDate,RefundAmount,ReferralSource,PromotionCode
0,15796.0,ProductC,Electronics,Shoes,BrandX,397.10,9.07,34.0,1.7,454.0,...,12671.0,2023-01-01 00:00:00,Cancelled,PayPal,NaN,2023-01-03 00:00:00,2023-01-04 00:00:00,193.62,Google,SALE30
1,861.0,ProductB,NaN,Mobile,BrandX,306.48,43.62,43.0,NaN,158.0,...,13895.0,NaN,Cancelled,Credit Card,2023-01-02 01:00:00,2023-01-03 01:00:00,2023-01-04 01:00:00,340.13,Instagram,PROMO10
2,76821.0,ProductA,Home,Furniture,BrandZ,532.83,19.86,89.0,3.9,20.0,...,12383.0,2023-01-01 02:00:00,Completed,PayPal,NaN,2023-01-03 02:00:00,2023-01-04 02:00:00,16.83,Facebook,SALE30
3,NaN,NaN,Home,Furniture,BrandX,913.13,11.53,NaN,1.3,201.0,...,14677.0,2023-01-01 03:00:00,Pending,PayPal,2023-01-02 03:00:00,2023-01-03 03:00:00,2023-01-04 03:00:00,177.43,Google,SALE30
4,6266.0,ProductA,Clothing,Cosmetics,BrandX,NaN,NaN,26.0,4.9,377.0,...,14153.0,2023-01-01 04:00:00,Cancelled,Cash on Delivery,2023-01-02 04:00:00,NaN,2023-01-04 04:00:00,1.59,Google,SALE30

In [29]:
null_count = [column for column in df.isnull().sum().tolist()]
null_count

[9888,
 9877,
 9880,
 9854,
 9901,
 9874,
 9907,
 9937,
 9932,
 9937,
 9924,
 9868,
 9938,
 9937,
 9872,
 9866,
 9863,
 9931,
 9907,
 9936,
 9900,
 9868,
 9882,
 9912,
 9885,
 9932,
 9897,
 9870,
 9903,
 9966]

In [31]:
null = df.isnull().sum()
null

ProductID         9888
ProductName       9877
Category          9880
SubCategory       9854
Brand             9901
Price             9874
Discount          9907
Stock             9937
Rating            9932
ReviewCount       9937
UserID            9924
UserName          9868
UserAge           9938
UserGender        9937
UserLocation      9872
CartID            9866
CartDate          9863
CartTotal         9931
CartItemCount     9907
CartStatus        9936
OrderID           9900
OrderDate         9868
OrderStatus       9882
PaymentMethod     9912
ShipmentDate      9885
DeliveryDate      9932
ReturnDate        9897
RefundAmount      9870
ReferralSource    9903
PromotionCode     9966
dtype: int64

In [48]:
df.fillna({
    'ProductID':0.0,
    'ProductName':'Unknown',
    'Category':'Unknown',
    'SubCategory':'Unknown',
    'Brand':'Unknown',
    'Price':0.0,
    'Discount':0.0,
    'Stock':0.0,
    'Rating':0.0,
    'ReviewCount':0.0,
    'UserID':0.0,
    'UserName':'Unknown',
    'UserAge':0.0,
    'serGender':'Unknown',
    'UserLocation':'Unknown',
    'CartID':0.0,
    'CartDate':'Unknown',
    'CartTotal':0.0,
    'CartItemCount':0.0,
    'CartStatus':'Unknown',
    'OrderID':0.0,
    'OrderDate':'Unknown',
    'OrderStatus':'Unknown',
    'PaymentMethod':'Unknown',
    'ShipmentDate':'Unknown',
    'DeliveryDate':'Unknown',
    'ReturnDate':'Unknown',
    'RefundAmount':0.0,
    'ReferralSource':'Unknown',
    'PromotionCode':'Unknown',
    'UserGender':'Unknown'
},inplace=True)
df.head()

,ProductID,ProductName,Category,SubCategory,Brand,Price,Discount,Stock,Rating,ReviewCount,...,OrderID,OrderDate,OrderStatus,PaymentMethod,ShipmentDate,DeliveryDate,ReturnDate,RefundAmount,ReferralSource,PromotionCode
0,15796.0,ProductC,Electronics,Shoes,BrandX,397.10,9.07,34.0,1.7,454.0,...,12671.0,2023-01-01 00:00:00,Cancelled,PayPal,Unknown,2023-01-03 00:00:00,2023-01-04 00:00:00,193.62,Google,SALE30
1,861.0,ProductB,Unknown,Mobile,BrandX,306.48,43.62,43.0,0.0,158.0,...,13895.0,Unknown,Cancelled,Credit Card,2023-01-02 01:00:00,2023-01-03 01:00:00,2023-01-04 01:00:00,340.13,Instagram,PROMO10
2,76821.0,ProductA,Home,Furniture,BrandZ,532.83,19.86,89.0,3.9,20.0,...,12383.0,2023-01-01 02:00:00,Completed,PayPal,Unknown,2023-01-03 02:00:00,2023-01-04 02:00:00,16.83,Facebook,SALE30
3,0.0,Unknown,Home,Furniture,BrandX,913.13,11.53,0.0,1.3,201.0,...,14677.0,2023-01-01 03:00:00,Pending,PayPal,2023-01-02 03:00:00,2023-01-03 03:00:00,2023-01-04 03:00:00,177.43,Google,SALE30
4,6266.0,ProductA,Clothing,Cosmetics,BrandX,0.00,0.00,26.0,4.9,377.0,...,14153.0,2023-01-01 04:00:00,Cancelled,Cash on Delivery,2023-01-02 04:00:00,Unknown,2023-01-04 04:00:00,1.59,Google,SALE30

In [15]:
df.columns

Index(['ProductID', 'ProductName', 'Category', 'SubCategory', 'Brand', 'Price',
       'Discount', 'Stock', 'Rating', 'ReviewCount', 'UserID', 'UserName',
       'UserAge', 'UserGender', 'UserLocation', 'CartID', 'CartDate',
       'CartTotal', 'CartItemCount', 'CartStatus', 'OrderID', 'OrderDate',
       'OrderStatus', 'PaymentMethod', 'ShipmentDate', 'DeliveryDate',
       'ReturnDate', 'RefundAmount', 'ReferralSource', 'PromotionCode'],
      dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99000 entries, 0 to 98999
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductID       99000 non-null  float64
 1   ProductName     99000 non-null  object
 2   Category        99000 non-null  object
 3   SubCategory     99000 non-null  object
 4   Brand           99000 non-null  object
 5   Price           99000 non-null  float64
 6   Discount        99000 non-null  float64
 7   Stock           99000 non-null  float64
 8   Rating          99000 non-null  float64
 9   ReviewCount     99000 non-null  float64
 10  UserID          99000 non-null  float64
 11  UserName        99000 non-null  object
 12  UserAge         99000 non-null  float64
 13  UserGender      99000 non-null  object
 14  UserLocation    99000 non-null  object
 15  CartID          99000 non-null  float64
 16  CartDate        99000 non-null  object
 17  CartTotal       99000 non-null  float64
 18  CartItemCount   99000 non-null  float64
 19  CartStatus      99000 non-null  object
 20  OrderID         99000 non-null  float64
 21  OrderDate       99000 non-null  object
 22  OrderStatus     99000 non-null  object
 23  PaymentMethod   99000 non-null  object
 24  ShipmentDate    99000 non-null  object
 25  DeliveryDate    99000 non-null  object
 26  ReturnDate      99000 non-null  object
 27  RefundAmount    99000 non-null  float64
 28  ReferralSource  99000 non-null  object
 29  PromotionCode   99000 non-null  object
dtypes: float64(13), object(17)
memory usage: 22.7+ MB

In [5]:
df.columns

Index(['ProductID', 'ProductName', 'Category', 'SubCategory', 'Brand', 'Price',
       'Discount', 'Stock', 'Rating', 'ReviewCount', 'UserID', 'UserName',
       'UserAge', 'UserGender', 'UserLocation', 'CartID', 'CartDate',
       'CartTotal', 'CartItemCount', 'CartStatus', 'OrderID', 'OrderDate',
       'OrderStatus', 'PaymentMethod', 'ShipmentDate', 'DeliveryDate',
       'ReturnDate', 'RefundAmount', 'ReferralSource', 'PromotionCode'],
      dtype='object')

In [50]:
#dataset normalization

sales_dim = df[['CartDate','CartTotal','CartItemCount','CartStatus']].copy().drop_duplicates().reset_index(drop=True)
sales_dim['Cart_ID'] = [i for i in range(1, len(sales_dim)+1)]
sales_dim = sales_dim[['Cart_ID','CartDate','CartTotal','CartItemCount','CartStatus']]
sales_dim.head()

   Cart_ID             CartDate  CartTotal  CartItemCount CartStatus
0        1  2023-01-01 00:00:00     790.78            4.0     Active
1        2  2023-01-01 01:00:00     329.83            8.0    Unknown
2        3              Unknown    1489.64            3.0  Completed
3        4              Unknown     185.17           14.0     Active
4        5  2023-01-01 04:00:00       0.00            2.0  Completed

In [51]:
product_dim = df[['ProductID', 'ProductName', 'Category', 'SubCategory', 'Brand', 'Price','Discount', 'Stock', 'Rating', 'ReviewCount']].copy().drop_duplicates().reset_index(drop=True)
print(product_dim.head())
product_dim['ProductID'].unique()

   ProductID ProductName     Category SubCategory   Brand   Price  Discount  \
0    15796.0    ProductC  Electronics       Shoes  BrandX  397.10      9.07
1      861.0    ProductB      Unknown      Mobile  BrandX  306.48     43.62
2    76821.0    ProductA         Home   Furniture  BrandZ  532.83     19.86
3        0.0     Unknown         Home   Furniture  BrandX  913.13     11.53
4     6266.0    ProductA     Clothing   Cosmetics  BrandX    0.00      0.00

   Stock  Rating  ReviewCount
0   34.0     1.7        454.0
1   43.0     0.0        158.0
2   89.0     3.9         20.0
3    0.0     1.3        201.0
4   26.0     4.9        377.0

array([15796.,   861., 76821., ..., 34727., 80823.,  2475.])

In [43]:
product_dim['ProductID'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
89995    False
89996     True
89997     True
89998    False
89999     True
Name: ProductID, Length: 90000, dtype: bool

In [52]:
order_dim = df[['OrderID', 'OrderDate','OrderStatus', 'PaymentMethod', 'ShipmentDate', 'DeliveryDate','ReturnDate', 'RefundAmount', 'ReferralSource', 'PromotionCode']].copy().drop_duplicates().reset_index(drop=True)
order_dim.head()

,OrderID,OrderDate,OrderStatus,PaymentMethod,ShipmentDate,DeliveryDate,ReturnDate,RefundAmount,ReferralSource,PromotionCode
0,12671.0,2023-01-01 00:00:00,Cancelled,PayPal,Unknown,2023-01-03 00:00:00,2023-01-04 00:00:00,193.62,Google,SALE30
1,13895.0,Unknown,Cancelled,Credit Card,2023-01-02 01:00:00,2023-01-03 01:00:00,2023-01-04 01:00:00,340.13,Instagram,PROMO10
2,12383.0,2023-01-01 02:00:00,Completed,PayPal,Unknown,2023-01-03 02:00:00,2023-01-04 02:00:00,16.83,Facebook,SALE30
3,14677.0,2023-01-01 03:00:00,Pending,PayPal,2023-01-02 03:00:00,2023-01-03 03:00:00,2023-01-04 03:00:00,177.43,Google,SALE30
4,14153.0,2023-01-01 04:00:00,Cancelled,Cash on Delivery,2023-01-02 04:00:00,Unknown,2023-01-04 04:00:00,1.59,Google,SALE30

In [53]:
customer_dim = df[['UserID', 'UserName','UserAge', 'UserGender', 'UserLocation']].copy().drop_duplicates().reset_index(drop=True)
customer_dim.head()

    UserID UserName  UserAge UserGender UserLocation
0  18896.0   User_0     37.0      Other    Location1
1  17060.0  Unknown     50.0     Female    Location4
2      0.0   User_2     27.0      Other    Location1
3  18342.0   User_3      0.0     Female      Unknown
4  11379.0   User_4     68.0    Unknown    Location1

In [54]:
product_table = product_dim.to_csv('data/product_table.csv', index=False)
sales_table = sales_dim.to_csv('data/sales_table.csv', index=False)
customer_table = customer_dim.to_csv('data/customer_table.csv',index=False)
order_table = order_dim.to_csv('data/order_table.csv',index=False)

In [74]:
#database creation and loading
import psycopg2

conn = psycopg2.connect(
dbname='kikee',
host='localhost',
user='postgres',
port=5432,
password='Izuchi2004$@'
)

cur = conn.cursor()
cur.execute(
    """
drop table if exists product_table;
drop table if exists order_table;
drop table if exists customer_table;
drop table if exists sales_table;
"""
)
cur.execute(
    """
    create table product_table(
    ProductID float,
    ProductName varchar(100),
    Category varchar(30),
    SubCategory varchar(20),
    Brand varchar(100),
    Price float,
    Discount float,
    Stock float,
    Rating float,
    ReviewCount float
    );

    create table customer_table(
    UserID float,
    UserName varchar(30),
    UserAge float,
    UserGender varchar(10),
    UserLocation varchar(20)
    );

    create table order_table(
    OrderID float,
    OrderDate varchar(20),
    OrderStatus varchar(20),
    PaymentMethod varchar(20),
    ShipmentDate varchar(20),
    DeliveryDate varchar(20),
    ReturnDate varchar(20),
    RefundAmount float,
    ReferralSource varchar(20),
    PromotionCode varchar(20)
    );

    create table sale_table(
    Cart_ID int,
    CartDate varchar(20),
    CartTotal float,
    CartItemCount float,
    CartStatus varchar(20)
    );
    """
)
conn.commit()
cur.close()
conn.close()

DuplicateTable: relation "sale_table" already exists

In [77]:
### data loading to database
def connection(dbname, host, port, user, password):
    conn = psycopg2.connect(dbname=dbname, host=host, port=port, user=user, password=password)
    return conn

conn = connection('kikee','localhost',5432,'postgres','Izuchi2004$@') 

def loading(file_path, table_name, conn):
    with conn.cursor() as cur:
        with open(file_path, 'r') as f:
            next(f)
            cur.copy_expert(
                f"copy {table_name} from STDIN WITH CSV",
                f
            )
        conn.commit()
    print(f"Loaded file into {table_name} using copy.")


file_path = ['data\order_table.csv','data\product_table.csv','data\sales_table.csv']
table_name = ['order_table','product_table','sale_table']
for path, table in zip(file_path,table_name):
    loading(path, table, conn)

Loaded file into order_table using copy.
Loaded file into product_table using copy.
Loaded file into sale_table using copy.

In [ ]:
def loading(file_path, table_name, conn):
    df = pd.read_csv(file_path, skiprows=1)
    df.to_sql(table_name, conn, if_exists='append',index=False)

file_path = 'data\customer_table.csv'
table_name = 'customer_table'
loading(file_path,table_name, conn)